<h1>商品編集</h1>
　<%= form_with model:@item, url: admin_item_path(@item), local:true do |f| %>

  <div class="form-group">
    <%= f.label :image_id, "商品画像" %>
    <%= f.attachment_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction %>
  </div>

  <div class="form-group">
    <%= f.label :genre, "ジャンル" %>
    <%= f.collection_select :item, Genre.all, :id, :name, include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <%= f.label :price, "税抜価格" %>
    <%= f.number_field :price %>円
  </div>

  <div class="form-group">
    <%= f.label :is_active, "販売ステータス" %>
   <%= f.radio_button :is_active, 0,checked: true %>販売中<%= f.radio_button :is_active, 1 %>販売停止中
  </div>

  <div class="actions">
    <%= f.submit "編集を保存" %>
  </div>

<% end %>
